body {
	background: $white;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.wrapper {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	background: url("../img/main-bg.png");

	&--hidden {
		overflow: hidden;
	}
}
