.section {
	&--items {
		display: flex;
		flex-flow: wrap;
		margin-bottom: 5px;
	}

	&__title {
		font: 16px/30px $openSans;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: -0.01em;
		color: $dimBlack;
		margin-bottom: 15px;

		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}
}
