<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="favicon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="style.min.css">
    <script defer src="js/script.min.js"></script>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute;" aria-hidden="true" focusable="false">
      <symbol id="arrow" fill="none" viewBox="0 0 16 16">
        <path d="M11 15L4 8l7-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </symbol>
    </svg>
    <!-- Миксин картинки для современных форматов-->
    <!-- Миксин для блока с товаром-->
    <!-- Это миксин фильтра-->
  </body>
</html>